<!-- Created: 21.03.2014 by Igor -->
{% load staticfiles %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional/EN">
<html>
  <head>
    <title>Django</title>
    <link rel="stylesheet" type="text/css" href=" {% static "static/css/foundation.css" %} ">

</head>
<body>
<nav class="top-bar">
    <section class="top-bar-section">
        <ul class="left">
            <li><a href="/">Home</a></li>
        </ul>

        <ul class="right">
            {% if username %}
                <li><a href="/auth/logout/">Выйти ({{ username }})</a></li>
            {% else %}
                <li><a href="/auth/login">Войти</a></li>
            {% endif %}
        </ul>
    </section>
</nav>

    <div class="row">
        {% block article %}{% endblock %}
        {% block login %}{% endblock %}
    </div>

</body>
</html>
